# fastapi
PROJECT_NAME=Cinema
REDIS_HOST=redis
REDIS_PORT=6379
ES_HOST=elasticsearch
ES_PORT=9200

# Elasticsearch
DISCOVERY_TYPE=single-node
XPACK_SECURITY_ENABLED=false

# Redis
ALLOW_EMPTY_PASSWORD=yes
